.btn{ 
    text-transform: uppercase;
    padding: .6em 1.7em;
    border: 0;
    background-color: var(--clr-primary-softRed);
    color: var(--clr-neutral-offWhite);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--clr-neutral-veryDarkBlue);
}