.container{  
    --max-width: 80em;
    --padding: 4rem;
  
    width: min(var(--max-width) , 100% - var(--padding));
    margin-inline: auto;
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

header{
    position: relative;
    
    .container{
        
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 3rem;
        }
        button{
            border: 0;
            background-color: transparent;
            
            img{
                width: 2rem;
                height: 1.5rem;

            }
            .icon__close{
                display: none;
            }
            @media (min-width: 50em) {
                display: none;
            }
        }

        .primary__navigation{
            display: none;
            @media (min-width: 50em){
                   display: block;   
            }
        } 
        
        .nav__list{
            display: flex;
            justify-content: space-between;
            font-size: var(--fs-500);
            font-weight: var(--fw-semibold);
            
            li:hover{
                color: var(--clr-primary-softRed);
            }
            li + li{
                margin-left: 2rem;
            }
        }
     
    }
   
}

main{

    --flow: 3rem;
    @media(min-width: 50em){
        display: grid;
        row-gap: 2.2rem;
        column-gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .first{
        @media (min-width: 50em){
            grid-column: span 2;

            display: grid;
            grid-template-columns: subgrid;

            picture{
                grid-column: span 2;
            }
        }

        picture img{
            height: 100%;
            width: 100%;
        }
        &__content{
            grid-column: span 2;
            display: grid;
            grid-template-columns: subgrid;

            h1{
                font-size: clamp(2.5rem, 1.2vw + 2.6rem , 3.2rem);
                align-self: center;

                @media (min-width: 50em){
                   max-width: 12ch;                    
                }
            }
            p{
                font-size: var(--fs-500);
            }
        }
    }
    .second{
        padding: var(--padding-500);
        background-color: var(--clr-neutral-veryDarkBlue);
        color: var(--clr-neutral-grayishBlue);
        
        .flow{
            --flow: 2rem;

            h2{
                color: var(--clr-primary-softOrange);
            }

            h3{
                color: var(--clr-neutral-offWhite);
                margin-bottom: .4em;
            }
            h3:hover{
                color: var(--clr-primary-softOrange);
            }
            div + div{
                padding-top: 1.5rem;
                border-top: 1px solid var(--clr-neutral-grayishBlue);
            }
        }

        @media (min-width: 50em){
            --flow: 0;
        }
    }

    .third{

        
        margin-bottom: 2rem;

        @media (min-width: 50em){
            --flow: 0;

            grid-column: span 3;
            display: grid;

            grid-template-columns: subgrid;
            
        }
        .card{
            --flow: 1rem;
            display: grid;
            grid-template-columns: .5fr 1fr;
            column-gap: 1.5rem;
            max-width: clamp(27rem, 2vw + 20rem, 40rem);


            img{
                height: 100%;
                object-fit: cover;
            }
            .number{
                font-size: var(--fs-600);
                font-weight: bold;
                margin-bottom: .5rem;
            }

            h2{
                font-size: var(--fs-500);
                color: var(--clr-neutral-veryDarkBlue);
                margin-bottom: .5rem;
            }
            h2:hover{
                color: var(--clr-primary-softRed);
            }

            p{
                font-size: var(--fs-500);
            }

            @media (min-width: 50em){
                --flow: 0;
            }
        }
    }   
}