/*Css Resets*/


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}


/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#root, #__next {
    isolation: isolate;
}



/*root*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
  --clr-primary-softOrange: hsl(35, 77%, 62%);
  --clr-primary-softRed: hsl(5, 85%, 63%);
  --clr-neutral-offWhite: hsl(36, 100%, 99%);
  --clr-neutral-grayishBlue: hsl(233, 8%, 79%);
  --clr-neutral-d-grayishBlue: hsla(240, 7%, 89%, 0.356);
  --clr-neutral-darkGrayishBlue: hsl(236, 13%, 42%);
  --clr-neutral-veryDarkBlue: hsl(240, 100%, 5%);

  --ff-Inter: 'Inter', sans-serif;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;

  --fw-regular: 400;
  --fw-semibold: 700;
  --fw-bold: 800;

  --padding: 1.5em;
}

/*General styling*/

body{
  font-size: var(--fs-300);
  font-family: var(--ff-Inter);
  position: relative;
}
/*header*/
header{
  position: relative;
}
header .container{
  padding: 1.5em 0;
}
.logo{
  width: 3rem;
}

/*navigation*/
.nav__toggle{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon__close{
  display: none;
}

a{
  text-decoration: none;
  color: var(--clr-neutral-veryDarkBlue);
}
@media (max-width: 35em){
  .primary__navigation{
    position: fixed;
    inset: 0 0 0 30%;

    z-index: 100;
    padding-top: 7rem; 
    background-color: var(--clr-neutral-offWhite );
    
    transform: translateX(100%);
    transition: transform 250ms ease-in;
  }

  .primary__navigation[data-visible="true"]{
    transform: translateX(0%);
  }
  
  .nav__toggle[aria-expanded="true"]{
    position: fixed;
    right: 1rem;
  }
  .nav__toggle[aria-expanded="true"] .icon__burguer{
    display: none;
  }

  .nav__toggle[aria-expanded="true"] .icon__close{
    display: block;
  }



  .nav__list{
    padding-left: 3.5em;
    margin: 0 0;
  }

  .nav__toggle{
    display: block;
    position: absolute;
    right: 1rem;
    z-index: 9999;
  }

  .active::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 45, 65, 0.445);
  }
}

/*main*/
.first,
.second,
.third{
  margin-bottom: 3.5rem;
}

.first picture{
  margin-bottom: 1em;
}
.first .content h1{
  margin-bottom: .5em;

  font-size: var(--fs-700);
  font-weight: var(--fw-bold);

  line-height: 1.1;
  color:var(--clr-neutral-veryDarkBlue);
}
.first .content p{
  margin-bottom: 1.2em;
  color: var(--clr-neutral-darkGrayishBlue);
}



aside h2{
  margin-bottom: 1em;
  font-weight: var(--fw-bold);
}

aside h3{
  color: var(--clr-neutral-offWhite);
  font-weight: var(--fw-semibold);
  margin-bottom: .15em;
}

aside p{
  color: var(--clr-neutral-grayishBlue);
  font-weight: var(--fw-regular);
}
aside .content:not(:last-child){
  margin-bottom: 1em;
  border-bottom: 1px solid var(--clr-neutral-d-grayishBlue);
}
aside .content:not(:last-child) p{
  margin-bottom: 1em;
} 


.third .card {
  display: flex;
  justify-content: space-between;
}
.third .card + .card{
  margin-top: 2rem;
}
.third .number{
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);

  margin-bottom: .5em;

  color: var(--clr-neutral-grayishBlue);
}
.card .img img{
  height: 100%;
}
.card h2{
  line-height: 1.1;
  margin-bottom: .4em;
}
.card p{
  color: var(--clr-neutral-grayishBlue);
  font-weight: var(--fw-semibold);
}

.col.img{
  width: 30%;
}
.col.text{
  width: 66%;
  align-self: flex-start;
}




/*Utility classes*/
.accent{color: var(--clr-primary-softOrange);}
.bg-darkBlue{ background-color: var(--clr-neutral-veryDarkBlue);}

.btn{ 
  text-transform: uppercase;
  padding: .6em 1.7em;
  border: 0;
  background-color: var(--clr-primary-softRed);
  color: var(--clr-neutral-offWhite);
  cursor: pointer;
}

.container{
  
  --max-width: 80em;
  --padding: 2rem;

  width: min(var(--max-width) , 100% - var(--padding));
  margin-inline: auto;
}

.row{display: flex;}
.space-between{justify-content: space-between;}
.align-center{align-items: center;}
.direction{flex-direction: column}

.fw-bold{font-weight: var(--fw-bold);}
.fw-semibold{font-weight: var(--fw-semibold);}
.fw-regular{font-weight: var(--fw-regular);}
.padding{ padding: var(--padding);}
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.flow > * + *:not(:first-child){
  margin-top:var(--flow,1em);
}