/*root*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');



/*navigation*/
.nav__toggle{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon__close{
  display: none;
}

a{
  text-decoration: none;
  color: var(--clr-neutral-veryDarkBlue);
}
@media (max-width: 35em){
  .primary__navigation{
    position: fixed;
    inset: 0 0 0 30%;

    z-index: 100;
    padding-top: 7rem; 
    background-color: var(--clr-neutral-offWhite );
    
    transform: translateX(100%);
    transition: transform 250ms ease-in;
  }

  .primary__navigation[data-visible="true"]{
    transform: translateX(0%);
  }
  
  .nav__toggle[aria-expanded="true"]{
    position: fixed;
    right: 1rem;
  }
  .nav__toggle[aria-expanded="true"] .icon__burguer{
    display: none;
  }

  .nav__toggle[aria-expanded="true"] .icon__close{
    display: block;
  }



  .nav__list{
    padding-left: 3.5em;
    margin: 0 0;
  }

  .nav__toggle{
    display: block;
    position: absolute;
    right: 1rem;
    z-index: 9999;
  }

  .active::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 45, 65, 0.445);
  }
}

/*main*/
.first,
.second,
.third{
  margin-bottom: 3.5rem;
}

.first picture{
  margin-bottom: 1em;
}
.first .content h1{
  margin-bottom: .5em;

  font-size: var(--fs-700);
  font-weight: var(--fw-bold);

  line-height: 1.1;
  color:var(--clr-neutral-veryDarkBlue);
}
.first .content p{
  margin-bottom: 1.2em;
  color: var(--clr-neutral-darkGrayishBlue);
}



aside h2{
  margin-bottom: 1em;
  font-weight: var(--fw-bold);
}

aside h3{
  color: var(--clr-neutral-offWhite);
  font-weight: var(--fw-semibold);
  margin-bottom: .15em;
}

aside p{
  color: var(--clr-neutral-grayishBlue);
  font-weight: var(--fw-regular);
}
aside .content:not(:last-child){
  margin-bottom: 1em;
  border-bottom: 1px solid var(--clr-neutral-d-grayishBlue);
}
aside .content:not(:last-child) p{
  margin-bottom: 1em;
} 


.third .card {
  display: flex;
  justify-content: space-between;
}
.third .card + .card{
  margin-top: 2rem;
}
.third .number{
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);

  margin-bottom: .5em;

  color: var(--clr-neutral-grayishBlue);
}
.card .img img{
  height: 100%;
}
.card h2{
  line-height: 1.1;
  margin-bottom: .4em;
}
.card p{
  color: var(--clr-neutral-grayishBlue);
  font-weight: var(--fw-semibold);
}

.col.img{
  width: 30%;
}
.col.text{
  width: 66%;
  align-self: flex-start;
}




/*Utility classes*/
.accent{color: var(--clr-primary-softOrange);}
.bg-darkBlue{ background-color: var(--clr-neutral-veryDarkBlue);}

.padding{ padding: var(--padding);}


.flow > * + *:not(:first-child){
  margin-top:var(--flow,1em);
}