:root{
    --clr-primary-softOrange: hsl(35, 77%, 62%);
    --clr-primary-softRed: hsl(5, 85%, 63%);
    --clr-neutral-offWhite: hsl(36, 100%, 99%);
    --clr-neutral-grayishBlue: hsl(233, 8%, 79%);
    --clr-neutral-d-grayishBlue: hsla(240, 7%, 89%, 0.356);
    --clr-neutral-darkGrayishBlue: hsl(236, 13%, 42%);
    --clr-neutral-veryDarkBlue: hsl(240, 100%, 5%);
  
    --ff-Inter: 'Inter', sans-serif;
    
    --fs-300: 0.9375rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
  
    --fw-regular: 400;
    --fw-semibold: 700;
    --fw-bold: 800;
    
    --padding-300: 0.9375rem;
    --padding-400: 1rem;
    --padding-500: 1.2rem;
    --padding-600: 2rem;
    --padding-700: 2.5rem;
    --padding-800: 3rem;
    --padding-900: 4rem;

    --margin-300: 0.9375rem;
    --margin-400: 1rem;
    --margin-500: 1.2rem;
    --margin-600: 2rem;
    --margin-700: 2.5rem;
    --margin-800: 3rem;
    --margin-900: 4rem;
}
  